/* landing page styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: white;
}

.navbar .logo {
    display: flex;
}
.navbar .logo .txt {
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
} 
/* navlinks */
.navbar .nav-links  a {
    color: black;
    text-decoration: none;
    align-items: center;
    gap: 3rem;
    margin: 0%;
    padding: 0;
}